#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#artistPic {
  height: 300px;
  width: fit-content;
}

#artistContent {
  width: 620px;
  height: auto;
  font-size: 20px;
}

.artistCard {
  height: 400px;
  width: 300px;
  box-shadow:  2px 2px 2px 2px green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,p {
  margin: 0;
}